*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    min-height:100vh;
    background:#f7faf5;
    display:flex;
    justify-content:center;
    align-items:center;
}

.main-container{
    width:90%;
    max-width:1400px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

/* LEFT SIDE */

.left-section{
    width:45%;
    text-align:center;
}

.left-section img{
    width:260px;
    margin-bottom:30px;
}

.left-section h1{
    font-size:4rem;
    color:#0d5b2a;
    margin-bottom:15px;
}

.line{
    width:220px;
    height:4px;
    background:#3fb34f;
    margin:auto;
    margin-bottom:30px;
    border-radius:10px;
}

.left-section p{
    font-size:1.8rem;
    color:#4d5b66;
    line-height:1.8;
}

/* RIGHT SIDE */

.signup-box{
    width:520px;
    background:white;
    padding:50px;
    border-radius:30px;
    box-shadow:0 10px 30px rgba(0,0,0,0.08);
}

.signup-box h2{
    text-align:center;
    font-size:3rem;
    color:#222;
}

.subtitle{
    text-align:center;
    color:#6c757d;
    margin-top:10px;
    margin-bottom:30px;
}

.signup-box input{
    width:100%;
    padding:18px;
    margin-bottom:18px;
    border:1px solid #ddd;
    border-radius:18px;
    font-size:16px;
    outline:none;
}

.signup-box input:focus{
    border:2px solid #2e7d32;
}

button {
    width: 100%;
    margin-top: 15px;
    padding: 14px;
    border: none;
    border-radius: 12px;
    background: #7ca982;
    color: rgb(230, 238, 243);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #65896a;
    transform: translateY(-2px);
}

.or{
    text-align:center;
    margin:25px 0;
    color:#666;
    font-size:20px;
}

.login-link{
    display:block;
    text-align:center;
    color:#2e7d32;
    text-decoration:none;
    font-weight:600;
}

.login-link:hover{
    text-decoration:underline;
}

@media(max-width:900px){

    .main-container{
        flex-direction:column;
        gap:40px;
    }

    .left-section{
        width:100%;
    }

    .signup-box{
        width:100%;
    }

    .left-section h1{
        font-size:2.5rem;
    }
}